main 
    width: 100%
    min-height: 615px
    background-color: black
    margin-top: -50px
    p 
        color: white
        font-size: 125px
        position: absolute
        bottom: 10
        line-height: 130px
.text-design
    color: black
    background-color: white

