@keyframes slide-out-opacity {
  0% {
    width: 621px; }
  100% {
    width: 0px; } }
nav {
  width: 35%;
  margin: auto;
  height: 15vh; }
  nav ul {
    display: flex;
    flex-direction: row; }
    nav ul li {
      display: inline;
      padding: 40px 10px 0 0; }
      nav ul li a {
        text-decoration: unset;
        color: black; }
        nav ul li a:hover {
          text-decoration: underline; }
        nav ul li a:visited {
          text-decoration: underline;
          color: black; }
  nav p {
    line-height: 90px;
    margin-right: 10px; }

.rond {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: #2e508a;
  margin-top: -75px;
  overflow: hidden;
  z-index: 1000; }
  .rond img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: right; }

footer {
  background: linear-gradient(black, #2e508a);
  height: 5vh; }
  footer ul {
    display: grid;
    grid-template-columns: 3fr 1fr; }
    footer ul .navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      footer ul .navigation li {
        display: flex;
        flex-direction: row;
        font-size: 25px;
        z-index: 1000;
        list-style: none;
        margin: 0;
        padding-left: 20px;
        padding-top: 10px; }
        footer ul .navigation li a {
          text-decoration: underline overline white;
          color: white; }
        footer ul .navigation li:hover {
          text-decoration: underline overline black; }
        footer ul .navigation li:visited {
          text-decoration: underline;
          color: black; }
    footer ul .row-reverse {
      display: flex;
      flex-direction: row-reverse; }
      footer ul .row-reverse i {
        font-size: 40px;
        color: white;
        margin-right: 15px;
        transition: all 1s ease-in-out; }

.fa-pinterest:hover {
  transition: all 0.5s ease-in-out;
  color: #bd081c; }

.fa-facebook-f:hover {
  transition: all 0.5s ease-in-out;
  color: #3b5998; }

.fa-twitter:hover {
  transition: all 0.5s ease-in-out;
  color: #2591f6; }

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 87vh;
  background-color: black;
  margin-top: -50px;
  transition: all 2s linear; }

.home-paragraphe {
  color: white;
  font-size: 125px;
  position: absolute;
  bottom: 10;
  line-height: 130px; }

.text-design {
  color: black;
  background-color: white;
  text-shadow: 2px 2px 5px black; }

.text-out {
  text-shadow: 0 0 3px white; }

.home-rand {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 400px;
  margin-left: 60%;
  margin-top: 5%; }

section figure {
  width: 200px;
  height: 400px;
  background-color: white;
  margin: auto;
  margin-top: 100px !important;
  border: 2px dashed black; }

.white-block {
  width: 621px;
  height: 400px;
  background-color: white;
  animation: slide-out-opacity 4s 1s forwards;
  position: absolute; }

.book {
  min-height: 79.9vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  z-index: -10;
  margin: auto; }
  .book article {
    width: 250px;
    height: 250px;
    margin: auto; }
  .book article:nth-child(odd) {
    background-color: grey; }
  .book article:nth-child(even) {
    background-color: black; }

#my-account {
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  #my-account section {
    width: 30vw;
    min-height: 100%;
    margin: auto; }
  #my-account .user-spec {
    background-color: white; }
    #my-account .user-spec form {
      display: flex;
      flex-direction: column;
      margin: 100px 0 0 0; }
      #my-account .user-spec form label {
        margin: 0 0 10px 0; }
        #my-account .user-spec form label input {
          margin: auto; }
  #my-account .read-recently {
    background-color: grey; }

.user-spec input[type="submit"] {
  width: 50%;
  margin: auto; }

*, html, body {
  margin: 0;
  padding: 0; }

body {
  height: 100vh; }

/*# sourceMappingURL=main.css.map */
