
nav 
    width: 35%
    margin: auto
    height: 15vh
    ul 
        display: flex
        flex-direction: row
        li
            display: inline
            padding: 40px 10px 0 0
            a 
                text-decoration: unset
                color: black
                &:hover 
                    text-decoration: underline
                &:visited
                    text-decoration: underline
                    color: black
    p   
        line-height: 90px   
        margin-right: 10px 
.rond
    width: 250px
    height: 250px
    border-radius: 100%
    background-color: $second-color
    margin-top: -75px
    overflow: hidden
    z-index: 1000
    img
        width: 400px
        height: 400px
        object-fit: cover
        object-position: right